.highlight {
    border: 2px double orange !important;
}
.face-down {
    background-image: url('../dist/card_bg.gif');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px double white;
}